{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>TravelApp0.0</title>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.min.js'></script>
</head>
<body>
    <input id="username" class="inputForm" name="username" type="text"  value="Username" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') " /><br>
    <input id="password" class="inputForm" name="password" type="text"  value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') " /><br>
    <button class="action-button" id="login" type="submit" value="Log In"></button>
</body>
</html>

{% endblock %}