* {
    font-family: din;
    font-weight: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body, html {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;

}

@font-face {
    font-family: din;
    src: url(DIN-Regular.otf);
}

#leftBlock {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #1A1A1A;
    display: inline-block;
    margin: 0;
    padding:0;
}

    #textBlock {
        margin: 30px;
    }

#rightBlock {
    width: 49%;
    height: 100%;
    /*background-image: url(plane.svg);
    background-size: cover;*/
    display: inline-block;
    margin: 0;
    padding: 0;

}

#intro {
    color: white;
    margin-left: 40px;
}

h1 {
    font-size: 70px;
    margin: 0;
}

p {
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
}

.inputFields {
    margin-left: 40px;
    margin-top: 30px;
}

input {
    height: 30px;
    width: 400px;
    margin-bottom: 10px;
}
input[type="text"], textarea {
    background-color: #1A1A1A;
    color: white;
}

.inputForm {
    border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-left: 20px;
}

button {
    margin-top: 20px;
    height: 30px;
    border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1A1A1A;
    color: white;
}

