{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to TravelApp0.0</h1>
      <div class= "section">
        <a href="{{ url_for('create_trip') }}">Add a Trip</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>Here are all the trips you are going on:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="trip_name">Trip name</th>
              <th data-field="destination">Destination</th>
              <th data-field="friends">Friends</th>
              <th data-field="email">Email</th>
            </tr>
          </thead>
          {% for trip in trips %}
            <tr>
              <td>{{ trip['trip_name'] }}</td>
              <td>{{ trip['destination'] }}</td>
              <td>{{ trip['friends'] }}</td>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
