{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_trips') }}">Home</a>
    </div>
    <h2>login</h2>
    <form action="" method="post" name="login">
      {{ userForm.hidden_tag() }}
      <div class="divider"></div>
      <!-- the Customer Form-->
      <div class="section">
        <p>
          username:<br>
          {{ userForm.username(size=120) }}<br>
        </p>
        <p>
          password:<br>
          {{ userForm.password(size=120) }}<br>
        </p>
      </div>
      <p><input type="submit" value="Sign Up"></p>
      <p><input type="submit" value="Login"></p>
    </form>
  </div>
</div>
{% endblock %}
