{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customer') }}">Home</a>
    </div>
    <h2>Add Trip to Our Database</h2>
    <form action="/register/" method="post" name="register">
      {{ userForm.hidden_tag() }}
      <div class="divider"></div>
      <!-- the Customer Form-->
      <div class="section">
        <p>
          username:<br>
          {{ userForm.username(size=120) }}<br>
        </p>
        <p>
          password:<br>
          {{ userForm.password(size=120) }}<br>
        </p>
        <p>
          first name:<br>
          {{ userForm.first_name(size=120) }}<br>
        </p>
        <p>
          last name:<br>
          {{ userForm.last_name(size=120) }}<br>
        </p>
      </div>
      <p><input type="submit" value="Create User Account"></p>
    </form>
  </div>
</div>
{% endblock %}
