/* Navbar */
.sidebar-collapse .navbar-collapse:before  {
    background: white;
}

.sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link:not(.btn) {
    color: #2c2c2c;
}
.pull-right {
    float: right;
}

button.close {
    cursor: pointer;
}

.trips .card {
    margin: 8px;
}

.trips .card .card-body {
    min-height: 50px;
}

.trips .card .card-body {
    min-height: 50px;
}

.trips .card .card-img,
.trip-detail .card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.trip-detail .form {
    display: inline;
}

.trip-detail .card-text {
    margin-top: 30px;
}

.trip-detail .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
}

.trip-detail .table input[type="submit"] {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}
