<html>
  <head>
    {% if title %}
    <title>{{ title }} - Trippin Hard</title>
    {% else %}
    <title>Trippin Hard</title>
    {% endif %}
    {% block header %}
    {% endblock %}

    <!-- Compiled and minified CSS -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



  </head>
  <body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename="app.js") }}">
  </body>
</html>