{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">

    <h2>Create a Trip</h2>
    <span id="username">Hello {{ username }}</span>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
          Trip name:<br>
          {{ form.trip(size=120) }}<br>
        </p>
        <p>
          Destination:<br>
          {{ form.destination(size=120) }}<br>
        </p>
        <p>
          Friend name:<br>
          {{ form.friend(size=120) }}<br>
        
        </p>

      </div>

      <p><input type="submit" value="Create Trip"></p>
    </form>
  </div>
</div>
{% endblock %}