{% extends "base.html" %}

{% block title %}
	Create a Trip
{% endblock %}

{% block content %}
    <div class="container">
      <h1>Create a Trip</h1>
      <br>
      <form action="" method="post">
				{{ form.hidden_tag() }}
				<p>
					{{ form.tripname.label }}<br>
					{{ form.tripname(size=32) }}

          <!-- Errors -->
          {% for error in form.tripname.errors %}
					     <span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>

				<p>
					{{ form.destination.label }}<br>
					{{ form.destination(size=32) }}

          <!-- Errors -->
          {% for error in form.destination.errors %}
					     <span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</p>

				<p>
				    <select style='display: inline'>
				      <option value="" disabled selected>Choose your option</option>
				      <option value="1">Option 1</option>
				      <option value="2">Option 2</option>
				      <option value="3">Option 3</option>
				    </select>
				    <label>Materialize Select</label>

					<!-- {{ form.friend_id.label }}<br> -->
					<!-- {{ form.friend_id(size=32) }} -->

					<!-- Errors -->
					<!-- {% for error in form.friend_id.errors %}
							 <span style="color: red;">[{{ error }}]</span>
					{% endfor %} -->
				</p>
				<p>{{ form.submit() }}</p>

			</form>
    </div>
{% endblock %}
