{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="col-sm-12">Add a trip</h1>
  </div>
  <div class="row">
    <form class="col-sm-12" method="post">
      <div class="form-group">
        <label for="username">Trip Title</label>
        <input type="text" class="form-control" id="title-form" name="title">
      </div>
      <div class="form-group">
        <label for="password">Trip Desination</label>
        <input type="text" class="form-control" id="dest-form" name="dest">
      </div>
      <div class="form-group">
        <label for="password">Select a Friend</label>
        <select class="form-control" name="otheruser">
          {% for u in users %}
          <option value="{{u['email']}}">{{u['email']}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create Trip</button>
    </form>
  </div>
</div>
{% endblock %}
