{% extends "base.html" %}

{% block title %}
	Index
{% endblock %}

{% block content %}
  <p><strong> Logged in as {{ current_user.username }} </strong></p>

	<table>
		<thead>
			<tr>
				<th>Trip Name</th>
				<th>Trip Destination</th>
				<th>Trip User ID</th>
			</tr>
		</thead>
		<tbody>
			{% for trip in trips %}
			<tr>
				<td>{{ trip.tripname }}</td>
				<td>{{ trip.destination }}</td>
				<td>{{ trip.user_id }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<a href="/create-trip" class='btn'>Create a Trip </a>
{% endblock %}
