{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <h1 class="col-sm-12">Login</h1>
  </div>
  <div class="row">
    <form class="col-sm-12">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username-form" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password-form" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
