{% extends "base.html" %}

{% block navlinks %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="trip-detail">
    <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/1920x1080/daily/?{{trip.destination}}">
        <div class="card-body">
            <div class="row">
                <div class="col col-md">
                    <h5 class="card-title">
                        <a href="{{ url_for('show_trip', id=trip.id) }}">
                            {{trip.title}}
                        </a>
                    </h5>
                </div>
                <div class="col col-md">
                    {% if trip.user_id == current_user.id %}
                        <form class="form delete-form" action="{{ url_for('delete_trip', id=trip.id) }}" method="DELETE">
                            <input class="btn btn-danger btn-round pull-right" type="submit" value="Delete Trip">
                        </form>
                        <a class="btn btn-primary btn-round pull-right" href="{{ url_for('edit_trip', id=trip.id) }}">Edit</a>
                    {% else %}
                        <a class="btn btn-danger btn-round pull-right" href="{{ url_for('edit_trip', id=trip.id) }}">Delete Invitation</a>
                    {% endif %}
                </div>
            </div>
   
            <h6 class="card-subtitle">
                <span class="text-muted">in  </span>
                <span class="mb-2 text-muted">{{trip.destination}}</span>
            </h6>

            <div class="card-text">
                <p></p>
                <h6>Participants</h6>
            </div>
        </div>
    </div>
</div>


{% endblock %}
