{% extends "base.html" %}

{% block title %}
	Trips
{% endblock %}

{% block header %}
	{{ super() }}
	<form action="logout" id="logout">
		<span id="username">Logged in as: {{ username }}</span>
		<input class="action-button" id="logout-button" type="submit" value="Logout">
	</form>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to Travel Pals</h1>
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of your awesome trips:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="company">Trip Title</th>
              <th data-field="email">Destination</th>
            </tr>
          </thead>
          {% for trip in trips %}
            <tr>
              <td>{{ trip['trip_name'] }}</td>
              <td>{{ trip['destination'] }}</td>
              <!-- < <td>{{ trip[''] }}</td>  -->
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
