{% extends "base.html" %}

{% block navlinks %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="trip-detail">
    <div class="card">
        <img class="card-img-top" src="https://source.unsplash.com/1920x1080/daily/?{{trip.destination}}">
        <div class="card-body">
            <div class="row">
                <div class="col col-md">
                    <h5 class="card-title">
                        <a href="{{ url_for('show_trip', id=trip.id) }}">
                            {{trip.title}}
                        </a>
                    </h5>
                </div>
                <div class="col col-md">
                    {% if trip.user_id == current_user.id %}
                        <form class="form delete-form" action="{{ url_for('delete_trip', id=trip.id) }}" method="DELETE">
                            <input class="btn btn-danger btn-round pull-right" type="submit" value="Delete Trip">
                        </form>
                        <a class="btn btn-primary btn-round pull-right" href="{{ url_for('edit_trip', id=trip.id) }}">Edit</a>
                    {% else %}
                        <form class="form delete-form" action="{{ url_for('delete_trip_invitation', id=trip.id) }}" method="DELETE">
                            <input class="btn btn-danger btn-round pull-right" type="submit" value="Delete Invitation">
                        </form>
                    {% endif %}
                </div>
            </div>
   
            <h6 class="card-subtitle">
                <span class="text-muted">in  </span>
                <span class="mb-2 text-muted">{{trip.destination}}</span>
            </h6>

            <div class="card-text">
                <h6>Participants</h6>
                <div>
                <table class="table table-sm table-striped">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>{{ trip.owner.formattedName() }}</td>
                                <td>Admin</td>
                                <td>{{ trip.owner.email }}</td>
                                <td></td>
                            </tr>
                            {% for guest in trip.guests %}
                            <tr>
                                <th scope="row"> {{ loop.index + 1 }} </th>
                                <td>{{ guest.formattedName() }}</td>
                                <td>Guest</td>
                                <td>{{ guest.email }}</td>
                                <td>
                                    {% if trip.user_id == current_user.id %}
                                    <form class="form delete-form" action="{{ url_for('withdraw_trip_invitation', id=trip.id, user_id=guest.id) }}" method="DELETE">
                                        <input class="text-danger" type="submit" value="Remove">
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                <div class="dropdown">
                        <a href="#pablo" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Invite Users
                        </a>
                        <ul class="dropdown-menu">
                            {% for user in trip.invitable_users() %}
                                <a class="dropdown-item invite-user" href="{{ url_for('invite_to_trip', id=trip.id, user_id=user.id) }}" title="{{ user.email }}">{{ user.fullName() }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-text">
                    <h6>Destination</h6>
                    <div class="mapouter"><div class="gmap_canvas">
                            <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{ trip.destination }}&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{overflow:hidden;height:500px;width:100%;}.gmap_canvas {background:none!important;height:500px;width:100%;}</style>
                    </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
